noderedflow code.txt
[{"id":"a3985a9d.a1cc78","type":"tab","label":"fingerprint based attendance system","disabled":false,"info":""},{"id":"baa6be51.123a8","type":"ibmiot in","z":"a3985a9d.a1cc78","authentication":"apiKey","apiKey":"ffa8d2f9.39e77","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"finger","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":108,"y":180,"wires":[["7f692caa.91da84","51d50647.c92ca8","7bb49e15.0f836","9dbf39f2.7f3478"]]},{"id":"7f3a3ff8.fa51f","type":"debug","z":"a3985a9d.a1cc78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":659,"y":138,"wires":[]},{"id":"7bb49e15.0f836","type":"function","z":"a3985a9d.a1cc78","name":"date","func":"msg.payload=msg.payload.date\nglobal.set(\"date\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":233,"wires":[["7f3a3ff8.fa51f"]]},{"id":"51d50647.c92ca8","type":"function","z":"a3985a9d.a1cc78","name":"time","func":"msg.payload=msg.payload.time\nglobal.set(\"time\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":363,"y":304,"wires":[["7f3a3ff8.fa51f"]]},{"id":"7f692caa.91da84","type":"function","z":"a3985a9d.a1cc78","name":"index","func":"msg.payload=msg.payload.Index\nglobal.set(\"Index\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":161,"wires":[["7f3a3ff8.fa51f"]]},{"id":"9dbf39f2.7f3478","type":"cloudant out","z":"a3985a9d.a1cc78","name":"","cloudant":"","database":"finger","service":"teja21-cloudantNoSQLDB","payonly":false,"operation":"insert","x":370,"y":62,"wires":[]},{"id":"ffa8d2f9.39e77","type":"ibmiot","z":"","name":"tejaruthvikanu","keepalive":"60","serverName":"o2on5t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true}]